<form action="/url" method="POST">
  <label for="originalURL">輸入原始網址：</label>
  <input type="text" name="originalURL" id="originalURL" style="width: 500px;"required>
  <button type="submit">生成短網址</button>
</form>



<p>{{originalURL}}為無效網址!</p>

