<form action="/url" method="POST">
  <label for="originalURL">輸入原始網址：</label>
  <input type="text" name="originalURL" id="originalURL" style="width: 500px;" value="{{originalURL}}"  required>
  <button type="submit">生成短網址</button>
</form>


{{#if shortenedURL}}
  <p>成功!!! 短網址為：</p>
  <a href="{{shortenedURL}}">http://localhost:3000/{{shortenedURL}}</a>
{{/if}}